* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
.header {
  background-color: #635854;
  padding-top: 12px; /* Внутренний отступ сверху */
  padding-bottom: 12px; /* Внутренний отступ снизу */
  border-bottom: 4px solid #3596f5;
}
.navbar {
  min-width: 1280px; /* максимальная ширина */
  margin: auto;
  display: flex; /* Сделали блок гибким */
  justify-content: space-between; /* Расставили элементы по краям */
  align-items: center;
}
.navbar-menu {
  margin: 0; /* Отключаем внешние отступы */
  padding: 0; /* Отключаем внутренние отсутпы */
  list-style: none; /* Отключаем точки у списка */
  display: flex;
  text-align: center; /* Все элементы выравниваются по центру в navbar-menu */
}
.navbar-item {
  margin-left: 40px; /* Отступ слева */
  margin-right: 40px; /* Отступ справа */
}
.navbar-link {
  text-decoration: none;
  color: #fff;
}
.navbar-contacts {
  text-align: right;
}
.navbar-text {
  display: block;
  color: #fff;
  margin-bottom: 4px;
}
.navbar-phone {
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none;
  color: #fff;
}
